/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */


/*******Dropdown*******/
.input-group__dropdown {
	// % protected region % [Modify dropdowns here] off begin
	display: flex;
	flex-direction: column;

	.ng-select-container {
		border-radius: $input-radius;
		height: unset !important;
		padding: $space-xs;
		margin: $space-xs 0 0 0;
		border: 1px solid $grey-4 !important;
	}

	&[disabled],
	&[readonly] {
		pointer-events: none;
		opacity: 0.6;
		background-color: $grey-2;

		&:hover,
		&:focus,
		&:active {
			border: 1px solid $grey-4;
			background-color: $grey-2;
			color: $grey-8;
		}
	}

	&[disabled] {
		cursor: not-allowed;
	}

	.ng-select {
		width: 100%;

		&.ng-select-focused {
			outline: none;
			border-color: $grey-4 !important;
			box-shadow: none;

			.ng-select-container {
				outline: none;
				border-color: $grey-4 !important;
				box-shadow: none;
			}
		}
	}

	.ng-dropdown-panel {

		&.ng-select-bottom {
			border-bottom-right-radius: $input-radius;
			border-bottom-left-radius: $input-radius;

			.ng-dropdown-panel-items {
				.ng-option {
					&:last-child {
						border-bottom-right-radius: $input-radius;
						border-bottom-left-radius: $input-radius;
					}

					&.ng-marked,
					&.ng-option-marked {
						background-color: rgba($grey-4, 0.2);
					}

					&.ng-option-selected {
						background-color: transparent;
						display: flex;
						justify-content: space-between;

						&:after {
							content: '\e9a2';
							font-family: 'lightning-icons';
							margin-left: auto;
						}
					}
				}
			}
		}
	}
	// % protected region % [Modify dropdowns here] end

	//Single search select
	.ng-select-single {
		// % protected region % [Modify search dropdowns here] off begin
		.ng-value-container {
			.ng-input {
				padding: 0 !important;
				//remove this if dom can be fixed
				position: absolute;
				top: 15px !important;

				&:first-of-type {
					margin-left: 0;
				}

				input {
					padding-left: $space-sm;

					&:active {
						background-color: $white;
					}
				}

			}
		}
		// % protected region % [Modify search dropdowns here] end
	}
	//Multi select
	.ng-select-multiple {
		// % protected region % [Modify multiselect dropdowns here] off begin
		.ng-select-container {
			align-items: flex-start;

			&.ng-has-value {
				.ng-value-container {
					margin: 2rem 0 0;
					&:after {
						width: 100%;
						border-top: 1px solid $grey-2;
						content: '';
						display: block;
						position: absolute;
						left: 0;
						top: 2.4rem;
					}
				}
			}
		}

		.ng-value-container {
			padding: 0 !important;
			display: inline-block;
			//remove this if dom can be fixed
			margin: 1.22rem 0 0rem;
			max-height: 3.5rem;
			overflow: auto;

			.ng-value {
				top: 0;
				margin: 0.5rem 0.3rem 0;
				background-color: transparent !important;
				display: inline-block;
				white-space: unset !important;
				@include fadeIn($animation-time);
				position: relative;

				span {
					font-size: $base-font-size;
					background: $grey-4;
					color: $white;

					&:first-of-type {
						border-right: 1px solid $white !important;
					}

					&.ng-value-icon {
						&:hover {
							background-color: rgba($color-primary, 0.8);
						}
					}
				}
			}

			.ng-input {
				padding: 0 !important;
				//remove this if dom can be fixed
				position: absolute;
				top: 15px !important;

				&:first-of-type {
					margin-left: 0;
				}

				input[role="combobox"] {
					padding: 0;
				}
			}
		}

		.ng-arrow-wrapper,
		.ng-clear-wrapper {
			position: absolute;
		}

		.ng-clear-wrapper {
			right: $space-lg;
		}

		.ng-arrow-wrapper {
			right: $space-sm;
			padding-right: 0;
		}
		// % protected region % [Modify multiselect dropdowns here] end
	}

	// % protected region % [Modify static dropdowns here] off begin
	&.input-group--static {
		pointer-events: none;

		.ng-select-container {
			background: transparent;
			border: none !important;
			color: $grey-8;
			opacity: 1;
			padding: $space-xxs 0;

			&:hover {
				background: transparent;
				border: none;
			}

			.ng-value-container {
				padding: 0;
			}

			.ng-clear-wrapper,
			.ng-arrow-wrapper {
				display: none;
			}
		}

		.ng-select {
			width: 100%;

			&.ng-select-focused {
				outline: none;
				border: none !important;

				.ng-select-container {
					outline: none;
					border: none !important;
				}
			}
		}

		//Static multi select
		.ng-select-multiple {
			.ng-select-container {
				.ng-value-container {
					margin: 0;
					&:after {
						display: none !important;
					}

					.ng-value {
						top: 0;
						margin: 0;
					}
				}
			}
		}
	}
	// % protected region % [Modify static dropdowns here] end
}

.input-group__dropdown {

	.ng-select-container {
		// % protected region % [Modify select container dropdowns here] off begin
		padding: 1.21rem $space-xs;
		// % protected region % [Modify select container dropdowns here] end
	}

}


// % protected region % [Add additional style content here] off begin
// % protected region % [Add additional style content here] end