/*
 * @bot-written
 *
 * WARNING AND NOTICE
 * Any access, download, storage, and/or use of this source code is subject to the terms and conditions of the
 * Full Software Licence as accepted by you before being granted access to this source code and other materials,
 * the terms of which can be accessed on the Codebots website at https://codebots.com/full-software-licence. Any
 * commercial use in contravention of the terms of the Full Software Licence may be pursued by Codebots through
 * licence termination and further legal action, and be required to indemnify Codebots for any loss or damage,
 * including interest and costs. You are deemed to have accepted the terms of the Full Software Licence on any
 * access, download, storage, and/or use of this source code.
 *
 * BOT WARNING
 * This file is bot-written.
 * Any changes out side of "protected regions" will be lost next time the bot makes any changes.
 */

/* -------------------------------- Inputs - text, checkbox, radio buttons -------------------------------- */
/*
/* Look at replaceable variables in the documentation and replace with desired value in correct format. 
/* Depending on which variable you change, your value will be different
/* For example $input-font-size will require an em, rem, or px value
/* and $z-index-back will require numerical value
/* eg
/* Changing a variable: 
/* $input-font-size: 16px;
/*
*/

/*******Dropdown*******/
@import 'select.scss';
@import 'radio.scss';

// % protected region % [Add any additional imports here] off begin
// % protected region % [Add any additional imports here] end

//Angular bot datepicker styles only
.input-group__datepicker {
	// % protected region % [Modify date picker here] off begin
	input {
		display: inline-flex;
		position: relative;
		white-space: nowrap;
		line-height: 1;
		padding: $space-xs;
		font-size: $input-font-size;
		vertical-align: top;
		border-radius: $input-radius;
		margin: $space-xs 0;
		width: auto;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		color: $grey-8;
		font-weight: $text-regular;
		border: 1px solid rgba($grey-4, 1);

		&::placeholder {
			color: $grey-4;
			font-weight: $text-light;
			opacity: 1;
		}

		&:focus {
			outline: none;
		}

		&:hover,
		&:active,
		&:focus {
			color: $grey-1;
			border: 1px solid $grey-1;
			background-color: rgba($grey-1, 0.02);
			@include transform-timing($animation-time);
		}
	}

	&.input-group--static {
		pointer-events: none;
		input {
			background: transparent;
			border: none;
			color: $grey-8;
			opacity: 1;
			padding-left: 0;
			padding-top: $space-xxs;

			&:hover {
				background: transparent;
				border: none;
			}
		}
	}
	// % protected region % [Modify date picker here] end
}

/*******PASSWORD STRENGTH METER******/
password-strength-meter {
	grid-area: pwdstrength;
}

// % protected region % [Add additional style content here] off begin
// % protected region % [Add additional style content here] end
