.register-spring {
	justify-content: start;
	overflow: auto;
	padding: 0 10%;

	a {
		margin: 0;
		padding-left: 0;
		padding-top: 10vh;
	}

	h2 {
		margin: 0;
	}

	@include media(xs, sm, md) {
		height: 98vh;
	}
}
